<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO -->
    <meta name="author" content="{{ g.config['author'] }}">
    {% block head %}
    <title>{{ g.config['blog_name'] }}</title>
    {% endblock head %}

    <!-- Stylesheets -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/syntax.css') }}">
    -->

    <!-- Atom Feed -->
   <link href="{{ url_for('feed') }}" rel="alternate" title="Recent Posts" type="application/atom+xml">
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="nav-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ g.config['blog_name'] }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- Highlighting Active Mentu Items  -->
            {% set navigation_bar = [
                ('/', 'home', 'Home'),
                ('/achive', 'achive', 'Archive'),
                ('/tags', 'tags', 'Tags'),
                ('/about', 'about', 'About')] 
            %}

            {% for href, id, caption in navigation_bar %}
              <li {%if id == active_page %} class="active" {% endif %}><a href="{{ href }}">{{caption}}</a></li>
            {% endfor %}
          </ul>

           <ul id="social" class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/anggao"><img alt="Github" src="{{ url_for('static', filename='images/github-icon.png') }}"></a>
            </li>
            <li>
              <a href="http://twitter.com/anggao"><img alt="Twitter" src="{{ url_for('static', filename='images/twitter-icon.png') }}"></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/anggao"><img alt="Linkedin" src="{{ url_for('static', filename='images/linkedin-icon.png') }}"></a>
            </li>
           </ul> 
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="content">
      {% block content %}{% endblock content %}
      </div>

      <footer>
        <p>Proudly powered by <a href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a>, and built using the <a href="http://getbootstrap.com/">Twitter Bootstrap</a> theme.</p>
        <p>© {{ g.config['year'] }} by {{ g.config['author'] }}. All rights reserved.</p>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
