{% extends 'base.html' %}

{% block head %}
<!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
-->
{% endblock head%}

{% block content %}
  <div class="row">
    <div class="col-sm-8 blog-main">
       <div class="page-header">
          <h1>Blog Posts  <small><!--Blogging Like a Hacker--></small></h1>
       </div> 
       <div id="blog-posts">
          {% for post in posts %}
            <div class="blog-post">
              <span class="post-date">{{ post.date|date }}</span>
              <a href="{{ post.url() }}" class="post-title">
                {{ post.title }} {% if post.subtitle %} : {{ post.subtitle }} {% endif %}
              </a>
            </div>
          {% endfor %}
       </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar"><h2>Hello. I'm Ang</h2>
    <p><img style="border-radius: 6px 6px 6px 6px; 
           float: left; height: auto;
           margin: 4px 8px 4px 0; border: 0 none;
           max-width: 100%; vertical-align: middle;" src="http://www.gravatar.com/avatar/f819a092b23cb25a09f87436f68df217.png" alt="Ang Gao" title="Follow me on Twitter @anggao">
        I am a Ph.D student in the Department of Computer Science at University College Cork.
    </p><p></p>
    </div>
  </div>
{% endblock content %}
